<div>
  <mat-card (click)="loadSubPage('users')" class="mat-card-small center-self clickable">
    <mat-card-title>Users</mat-card-title>
    <mat-card-content>
      <mat-icon>group</mat-icon>
    </mat-card-content>
  </mat-card>
  <mat-card (click)="loadSubPage('super-groups')" class="mat-card-small center-self clickable">
    <mat-card-title>Pages</mat-card-title>
    <mat-card-content>
      <mat-icon>file_copy</mat-icon>
    </mat-card-content>
  </mat-card>
</div>
<div class="lower-right-corner">
  <div class="small-padding">
    <button mat-mini-fab color="primary" (click)="onResetPages()">
      <mat-icon matTooltip="Reset Pages to Demo Data">restore</mat-icon>
    </button>
  </div>
  <div class="small-padding">
    <button mat-mini-fab color="primary" (click)="onDeletePages()">
      <mat-icon matTooltip="Wipe All Pages">delete</mat-icon>
    </button>
  </div>
</div>
