<div class="small-padding float-left">
  <a mat-raised-button [routerLink]="['..']">Back</a>
</div>
<h2 class="small-padding center">User</h2>
<mat-divider></mat-divider>

<div *ngIf="loadingUser || loadingPageSGs;else mainContent">
  <mat-card>
    <mat-card-title>Loading...</mat-card-title>
    <mat-card-content>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #mainContent>
  <mat-card>
    <mat-card-title>{{user.displayName}}</mat-card-title>
    <mat-card-content>
      <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSaveUser()">
        <mat-form-field>
          <input matInput placeholder="Identifier" disabled="true" [ngModel]="user.id" #name="ngModel" name="id">
        </mat-form-field>
        <br/>
        <mat-form-field>
          <input matInput placeholder="Display Name" required [(ngModel)]="user.displayName" #name="ngModel" name="name">
        </mat-form-field>
        <br/>
        <mat-form-field>
          <input matInput placeholder="Email" required email [(ngModel)]="user.email" #name="ngModel" name="email">
        </mat-form-field>
        <br/>
        <mat-checkbox [(ngModel)]="user.admin" #name="ngModel" name="admin" class="small-padding">Is Administrator?</mat-checkbox>
        <mat-checkbox [(ngModel)]="user.active" #name="ngModel" name="active" class="small-padding">Is Active?</mat-checkbox>
        <br/>
        <br/>
        <button type="submit" mat-mini-fab color="primary" [disabled]="f.pristine" class="small-padding">
          <mat-icon matTooltip="Save updates to Page">save</mat-icon>
        </button>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Page Access for {{user.displayName}}</mat-card-title>
    <div *ngFor="let pageSuperGroup of pageSGs">
      <h4>{{pageSuperGroup.name}}</h4>
      <mat-checkbox *ngFor="let pageGroup of pageSuperGroup.pageGroups" class="small-padding" (change)="onPageGroupChange(pageSuperGroup, pageGroup)">
        <span [matTooltip]="pageGroup.description">{{pageGroup.name}} </span>
        <mat-icon [matTooltip]="'Click to edit '+pageGroup.name" (click)="onEditPageGroup(pageSuperGroup, pageGroup)">edit</mat-icon>
      </mat-checkbox>
      <br/>
    </div>
  </mat-card>
  <mat-card>
    <mat-card-title>User Access Audit</mat-card-title>
    <mat-card-content>
      <div *ngFor="let change of user.userPageGroupAssignedAudits">{{change.id}} - {{change.pageGroupAdded}} - {{change.updateTime}}</div>
    </mat-card-content>
  </mat-card>
</ng-template>
