<div class="small-padding float-left">
  <a mat-raised-button [routerLink]="['../../../..']">Back to Page Super Groups</a>
</div>

<div *ngIf="loading;else mainContent">
  <mat-card>
    <mat-card-title>Loading Data...</mat-card-title>
    <mat-card-content>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #mainContent>
  <div class="small-padding float-left">
    <a mat-raised-button [routerLink]="['../..']">Back to {{pageSuperGroup.name}}</a>
  </div>
  <h2 class="small-padding center">{{pageGroup.name}} Pages</h2>
  <hr>
  <mat-card class="mat-card-medium float-left" *ngFor="let page of pageGroup.pages">
    <mat-card-title>{{pageGroup.name}}</mat-card-title>
    <mat-card-content>
      <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSavePage(page)">
        <mat-form-field>
          <input matInput placeholder="Name of Page" required [(ngModel)]="page.name" #name="ngModel" name="name">
        </mat-form-field>
        <br/>
        <mat-form-field>
          <textarea matInput placeholder="Description" [(ngModel)]="page.description" class="text-area" maxlength="255" #description="ngModel"
            name="description"></textarea>
        </mat-form-field>
        <br/>
        <mat-form-field>
          <input matInput placeholder="Short Name" required [(ngModel)]="page.nameShort" #name="ngModel" name="nameShort">
        </mat-form-field>
        <br/>
        <mat-form-field>
          <input matInput placeholder="Icon For the Page" required [(ngModel)]="page.iconName" #name="ngModel" name="iconName">
          <button type="button" matTooltip="Icons leverage material icons. Enter the name of the icon. More information can be found by clicking this info icon."
            mat-button matSuffix mat-icon-button (click)="onMatIconInfo()">
            <mat-icon>info</mat-icon>
          </button>
        </mat-form-field>
        <br/>
        <mat-form-field>
          <input matInput placeholder="URL for the Page" required [(ngModel)]="page.url" #name="ngModel" name="url">
        </mat-form-field>

        <button type="submit" mat-mini-fab color="primary" [disabled]="f.pristine" class="float-right">
          <mat-icon matTooltip="Save updates to Page">save</mat-icon>
        </button>
      </form>
    </mat-card-content>
  </mat-card>

  <div class="lower-right-corner">
    <button mat-mini-fab color="primary" (click)="onNewPage()">
      <mat-icon matTooltip="Add New Page">add</mat-icon>
    </button>
  </div>
</ng-template>
