<div class="small-padding float-left">
    <a mat-raised-button [routerLink]="['..']">Back to Admin</a>
  </div>
<h2 class="small-padding center">Page Super Groups</h2>
<hr>

<div *ngIf="loading;else mainContent">
  <mat-card>
    <mat-card-title>Loading Data...</mat-card-title>
    <mat-card-content>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #mainContent>
  <mat-card class="mat-card-small float-left" *ngFor="let pageSG of pageSuperGroups">
    <mat-card-title>{{pageSG.name}}</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input matInput placeholder="Name of Super Group" required [(ngModel)]="pageSG.name" #name="ngModel" name="name">
        </mat-form-field>
        <br/>
        <mat-form-field>
          <textarea matInput placeholder="Description" [(ngModel)]="pageSG.description" class="text-area" maxlength="255" #description="ngModel"
            name="description"></textarea>
        </mat-form-field>
        <button mat-mini-fab color="primary" [disabled]="name.pristine && description.pristine" (click)="onSavePageSuperGroup(pageSG)"
          class="float-right">
          <mat-icon matTooltip="Save updates to name and/or description">save</mat-icon>
        </button>
      </form>
      <div (click)="onEditPageGroups(pageSG)" class="clickable">
        <b>{{pageSG.pageGroups.length}} Page Groups</b>
        <button mat-mini-fab color="primary" class="float-right">
          <mat-icon matTooltip="Edit Page Groups">create</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="lower-right-corner">
    <button mat-mini-fab color="primary" (click)="onNewPageSuperGroup()">
      <mat-icon matTooltip="Add New Page Super Group">add</mat-icon>
    </button>
  </div>
</ng-template>
