<!-- <div *ngIf="dataSource.loading;else mainContent">
  <mat-card>
    <mat-card-title>Loading Data...</mat-card-title>
    <mat-card-content>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #mainContent> -->

<mat-card class="small-padding">
  <mat-card-title>Portal Users</mat-card-title>


  <mat-card-content>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <mat-slide-toggle class="example-margin" color="accent" checked="true" #isAdmin>
      Include Admins
    </mat-slide-toggle>
    <mat-slide-toggle class="example-margin" color="accent" (change)="onInlucdeInActive($event)" #isActive>
      Include Inactive Users
    </mat-slide-toggle>

    <div *ngIf="!dataSource.loadingComplete">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

      <!-- Name Column -->
      <ng-container matColumnDef="displayName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.displayName}}</mat-cell>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
      </ng-container>

      <!-- Is Admin Column -->
      <ng-container matColumnDef="isAdmin">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Is Admin?</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.admin ? 'Yes':'No'}}</mat-cell>
      </ng-container>

      <!-- Is Active Column -->
      <ng-container matColumnDef="isActive">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Is Active?</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.active ? 'Yes':'No'}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onUserSelect(row)"></mat-row>
    </mat-table>

    <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100, 250]">
    </mat-paginator>
  </mat-card-content>
</mat-card>
<div class="lower-right-corner">
  <button mat-mini-fab color="primary" (click)="onNewUser()">
    <mat-icon matTooltip="Add New User">add</mat-icon>
  </button>
</div>
<!-- </ng-template> -->
