<div [ngClass]="router.url === '/page/'+page.id ? 'shown' : 'hidden'" class="fill-space" >
  <iframe [src]="pageUrl" class="fill-space" name="internal" allowTransparency="true"  frameborder="0"></iframe>
</div>
