/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
}

.shown {
  display: block;
}
.hidden {
  display: none;
}

.fill-space {
  width: 100%;
  height: 100%;
}

.small-padding {
  padding: 5px;
}

.float-right {
  float: right;
}
.float-left {
  float: left;
}
.float-fix {
  overflow: auto;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

mat-card {
  margin: 15px;
}

.mat-card-small {
  max-width: 300px;
}

.mat-card-medium {
  max-width: 600px;
}

.center-self {
  margin-left: auto;
  margin-right: auto;
}

.clickable {
  cursor: pointer;
}

.lower-right-corner {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.center {
  text-align: center;
}
