<div class="small-padding float-left">
  <a mat-raised-button [routerLink]="['../../../..']">Back to Page Super Groups</a>
</div>

<div *ngIf="loading;else mainContent">
  <mat-card>
    <mat-card-title>Loading Data...</mat-card-title>
    <mat-card-content>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #mainContent>
  <h2 class="small-padding center">{{pageSuperGroup.name}} Page Groups</h2>
  <hr>
  <mat-card class="mat-card-small float-left" *ngFor="let pageGroup of pageSuperGroup.pageGroups">
    <mat-card-title>{{pageGroup.name}}</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input matInput placeholder="Name of Page Group" required [(ngModel)]="pageGroup.name" #name="ngModel" name="name">
        </mat-form-field>
        <br/>
        <mat-form-field>
          <textarea matInput placeholder="Description" [(ngModel)]="pageGroup.description" class="text-area" maxlength="255" #description="ngModel"
            name="description"></textarea>
        </mat-form-field>
        <button mat-mini-fab color="primary" [disabled]="name.pristine && description.pristine" (click)="onSavePageGroup(pageGroup)"
          class="float-right">
          <mat-icon matTooltip="Save updates to name and/or description">save</mat-icon>
        </button>
      </form>
      <div (click)="onEditPages(pageGroup)" class="clickable">
        <b>{{pageGroup.pages.length}} Pages</b>
        <button mat-mini-fab color="primary" class="float-right">
          <mat-icon matTooltip="Edit Pages">create</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="lower-right-corner">
    <button mat-mini-fab color="primary" (click)="onNewPageGroup()">
      <mat-icon matTooltip="Add New Page Group">add</mat-icon>
    </button>
  </div>
</ng-template>
