<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar color="primary">
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon matTooltip="Toggle Side Navigation">arrow_left</mat-icon>
      </button>
      Pages
    </mat-toolbar>
    <mat-nav-list>
      <span class="small-padding">Open Pages</span>
      <mat-divider></mat-divider>
      <a mat-list-item *ngFor="let page of openPagesService.openPages">
        <app-icon-menu [page]="page"></app-icon-menu>
        <span class="small-padding" style="width: 80%;" (click)="openPagesService.openPage(page)" matTooltip="{{page.description}}">
          {{page.nameShort}}</span>
        <mat-icon (click)="openPagesService.closePage(page)" matTooltip="Close this page">close</mat-icon>
      </a>

      <br/>
      <br/>
      <br/>
      <br/>
      <span class="small-padding">Recommended</span>
      <mat-divider></mat-divider>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="height: 100vh;">
    <mat-toolbar color="primary">
      <button type="button" mat-icon-button (click)="drawer.toggle()" *ngIf="!drawer.opened">
        <mat-icon matTooltip="Toggle Side Navigation">list</mat-icon>
      </button>

      <button type="button" aria-label="Home" mat-icon-button (click)="onHome()">
        <mat-icon aria-label="Home">home</mat-icon>
      </button>
      <span>Portal</span>
      <span class="spacer"></span>
      <span>Welcome {{currentUserService.getCurrentUser().displayName}}</span>
      <app-account-menu></app-account-menu>
    </mat-toolbar>
    <div style="height: calc(100% - 69px);" [ngClass]="router.url.startsWith('/admin') ? 'hidden' : 'shown'">
      <app-home [ngClass]="router.url === '/home' ? 'shown' : 'hidden'"></app-home>
      <app-page *ngFor="let pageDisplay of openPagesService.openPages" [page]="pageDisplay"></app-page>
    </div>
    <div [ngClass]="router.url.startsWith('/admin') ? 'shown' : 'hidden'">
      <!-- This router outlet isn't truly used as we want to keep
           the current state of page frames and
           thus show or hide them in the div above
      -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
