<mat-card>
  <mat-card-title>Favorites</mat-card-title>
  <mat-card-content>
      <mat-list-item *ngFor="let page of favoritePages">
          <app-icon-menu [page]="page"></app-icon-menu>
          <span class="small-padding" (click)="openPage(page)" matTooltip="{{page.description}}">{{page.name}}</span>
        </mat-list-item>
  </mat-card-content>
</mat-card>
