<mat-icon [matMenuTriggerFor]="menu" matTooltip="Additional Options">{{page.iconName}}</mat-icon>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openPagesService.openPage(page)">
    <mat-icon>launch</mat-icon>
    Open
  </button>
  <button mat-menu-item>
    <mat-icon>open_in_browser</mat-icon>
    Open in New Window
  </button>
  <button mat-menu-item>
    <div *ngIf="page.isFavorite(); else elseBlock">
      <mat-icon>star</mat-icon>
      <span> Remove from favorites</span>
    </div>
    <ng-template #elseBlock>
      <mat-icon>star_border</mat-icon>
      <span> Add to favorites</span>
    </ng-template>
  </button>
  <button mat-menu-item *ngIf="openPagesService.pageIsOpen(page)" (click)="openPagesService.closePage(page)">
    <mat-icon>close</mat-icon>
    Close
  </button>
  <button mat-menu-item *ngIf="openPagesService.pageIsOpen(page) && openPagesService.multiplePagesOpen()" (click)="openPagesService.closeOthers(page)">
    <mat-icon>unfold_less</mat-icon>
    Close Others
  </button>
</mat-menu>
