<button type="button" aria-label="Settings" mat-icon-button>
  <mat-icon [matMenuTriggerFor]="menu" matTooltip="Settings">settings</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onShowAccount()">
    <mat-icon>account_circle</mat-icon>
    Account
  </button>
  <button mat-menu-item (click)="onLogout()">
    <mat-icon>power_settings_new</mat-icon>
    Sign Off
  </button>
  <button mat-menu-item (click)="onShare()">
    <mat-icon>share</mat-icon>
    Share
  </button>
  <button mat-menu-item *ngIf="isAdmin()" (click)="onAdmin()">
    <mat-icon>settings_applications</mat-icon>
    Administration
  </button>
</mat-menu>
